<h2>
  Student List</h2>

<form id="filter">
  <label for="search">Search input</label>
  <input type="text" id="search" [(ngModel)]="term" [ngModelOptions]="{standalone: true}"/>
</form>

  <ul id="student-list">
  <li *ngFor="let student of students | filter:term">
    <div class="single-student">
      <span [ngStyle]="{color:green}"> {{student.name }}</span>
      <span [ngStyle]="{color:red}"> {{student.age}}</span>
     
    </div>
  </li>
</ul>

<button (click) ="logIt()"> Click </button>

























<!-- 
<p [ngClass]="classes"> directory works!</p>

<p *ngIf="test"> Only show if is true</p>











<style>
  .blue{
    color:blue;
  }

  .red{
    color:red;
  }
  .underline{
    text-decoration: underline;
  }
</style>


 -->









<!-- <p>{{ninjas}}</p> -->
