body {

}
li{
    list-style-type: none;
}
.color{
    background-color: rgb(50, 114, 114);
    padding: 10px 20px;
    color:whitesmoke;
    margin-right: 20px;

}
.color:nth-child(n+2){
    background-color: rgb(187, 69, 69);
}
.single-student{
    padding:15px 20px;
}
.filter{
    padding: 15px;
    background-color: rgb(163, 177, 177);
    color:whitesmoke;
    text-transform: uppercase;
    
}
#search{
    margin-left: 12px;;
}