<h2>
  Student List</h2>

<div class="filter">
  <form id="filter">
    <label for="search">Search: </label>
    <input type="text" id="search" [(ngModel)]="term" [ngModelOptions]="{standalone: true}" placeholder="Type here"/>
  </form>
</div>

  <ul id="student-list">
  <li *ngFor="let student of students | filter:term">
    <div class="single-student">
      <span class="color"> {{student.name }}</span>
      <span class="color"> {{student.age}}</span>
     
    </div>
  </li>
</ul>

<form  id="student-add" >
  <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="ex.name"/>
  <input type="text" [(ngModel)]= "age" [ngModelOptions]="{standalone: true}" placeholder="ex.age"/>
  <button (click) ="fbPostData( name,age )"> New student </button>
</form>



























<!-- 
<p [ngClass]="classes"> directory works!</p>

<p *ngIf="test"> Only show if is true</p>











<style>
  .blue{
    color:blue;
  }

  .red{
    color:red;
  }
  .underline{
    text-decoration: underline;
  }
</style>


 -->









<!-- <p>{{ninjas}}</p> -->
