<h2>
  Student List</h2>

<ul id="student-list">
  <li *ngFor="let student of students ">
    <div class="single-student">
      <span [ngStyle]="{color:green}"> {{student.name}}</span>
      <span [ngStyle]="{color:red}"> {{student.age}}</span>
     
    </div>
  </li>
</ul>


























<!-- 
<p [ngClass]="classes"> directory works!</p>

<p *ngIf="test"> Only show if is true</p>











<style>
  .blue{
    color:blue;
  }

  .red{
    color:red;
  }
  .underline{
    text-decoration: underline;
  }
</style>


 -->









<!-- <p>{{ninjas}}</p> -->
